.DS_Store
.*.swp
bin
src
lib
frameworks
include/openssl
*.gz
*.gz.asc
*.framework
*.o
*.pbxuser
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
Pods
